@import "tailwindcss";

:root {
  --primary-color: #2E7D32 !important;
  --secondery-color: #FFB300;
  --primary-light-1: #FC410010;
  --primary-light-2: #FC410010;
  --hero-image-from: #F8b4741a;
  --hero-image-to: #ff4c1f0c;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #333333;
  --transition-reguler: 0.3s;
  --transition-slow: 0.6s;
}

.menu {
  position: relative;
}

.menu::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
  opacity: 0;
}

.menu:hover::after {
  width: 100%;
  opacity: 1;
}

.active-link::after {
  width: 100%;
  opacity: 1;
}
.box {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease-in-out;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}



body {
  background: #F5F5F5;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


